<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your New URL</title>
  </head>

  <body>
    <% include partials/_header %>
    <% if (!user_id) { %>
      <% include partials/_login %>
    <% } %>
    <h1>Your URLs</h1>
    <%= "Your shortened URL is " %> &#8594; <a href="/u/<%= shortURL %>">localhost:8080/u/<%= shortURL %></a>
    <br/>
    <%= "Your full URL is " %> &#8594;
    <% if (data[user_id].links[shortURL].slice(0, 7) === "http://") { %>
      <a href="<%= data[user_id].links[shortURL] %>"><%= data[user_id].links[shortURL] %></a>
    <% } else { %>
      <a href="http://<%= data[user_id].links[shortURL] %>">http://<%= data[user_id].links[shortURL]%></a>
    <% } %>

    <form method="POST" action="/urls/<%= shortURL %>?_method=DELETE">
      <button>Delete</button>
      <!-- <input type="image" src="~./Users/heyzeus/lighthouse/tinyapp/trashfull@2x/"/> put this into button?-->
    </form>

    <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
      <label for="newLongURL">Enter your new URL:</label>
      <input id="newLongURL" type="text" name="newLongURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
      <!-- <button>Update</button> -->
    </form>
  </body>